{% extends "base.html" %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h5><strong>Orders Details</strong></h5>
      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
          <div class="card" style="width: 80%">
            <img src="{{product.pid.image.url}}" class="img-fluid" alt="..." />
          </div>
        </div>
        <div class="col-md-8">
          <p><strong>Name: {{product.pid.name}}</strong></p>
          <p><strong>Price: {{product.pid.price}}</strong></p>
          <p><strong>category: Eletronic</strong></p>
          <p><strong>Product Details {{product.pid.pdetails}}</strong></p>
          
          
        </div>
        {% endfor %}
      </div>
      
    </div>
    <div class="col-md-3">
      <h5 class="bg-body-tertiary">Total Amount</h5>
      <p><strong>Total ({{np}} item): Rs {{sum}} </strong></p>
      <a href="pay"><button class="btn btn-outline-success">Make Payment</button></a
      >
    </div>
  </div>


</div>

{% endblock %}
{% include footer.html %}